div{
    color: white;
    font-size: 50px;
}
a{
    color: white;
}
h1{
    font-size: 80px;
}
.div-1{
    
    left:48% ;
    display: inline;
    position: relative;
    margin-top: 0%;
    
}
.div-2{
    
    left: 49%;
    display: inline;
    position: relative;
}
.div-3{
    width: 5px;
    height: 500%;
    left:50%;
    display: inline;
    position: relative;
}
.div-4{
    width: 5px;
    height: 10px;
    left:51% ;
    display: inline;
    position: relative;
}
.div-5{
    width: 10px;
    height: 10px;
    left:52% ;
    display: inline;
    position: relative;
}
.div-6{
    width: 50px;
    height: 30px;
    left:53% ;
    display: inline;
    position: relative;
    font-size: 500px;
}
.button
{
    border-radius: 10px;
    padding: 3px 5px;
    font-size:20px;
    width: 250px;
    background-color:rgb(182, 80, 7);
    border: none;
    color:white ;
}

.slide-container{
    width: 600px;
    height: 600px;
    margin-left:auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
.image-container{
  width: 4200px;
  height: 600px;
  position: relative;
  transition:left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
}
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}
.button-container{
    top: -20px;
    position: relative;
}
.slider-button{
    display: inline-block;
    height: 20%;
    width: 5%;
    border-radius: 5px;
    background-color:black;
}
#slider-image-1:target ~ .image-container{
    left: 0px;
}
#slider-image-2:target ~ .image-container{
    left:-600px;
}
#slider-image-3:target ~ .image-container{
    left: -1200px;
}
#slider-image-4:target ~ .image-container{
    left: -1800px;
}
#slider-image-5:target ~ .image-container{
    left: -2400px;
}
#slider-image-6:target ~ .image-container{
    left: -3000px;
}
#slider-image-7:target ~ .image-container{
    left: -3600px;
}
.text1{
    position: absolute;
    top:85% ;
    left:100px;
    text-decoration-color:chartreuse;
}